<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4sc.bjt.user.dao.mapper.BjtUserAddressListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.j4sc.bjt.user.dao.entity.BjtUserAddressList">
        <id column="address_list_id" property="addressListId" />
        <result column="user_id" property="userId" />
        <result column="slave_user_id" property="slaveUserId" />
        <result column="status" property="status" />
        <result column="slave_nickname" property="slaveNickname" />
        <result column="slave_username" property="slaveUsername" />
        <result column="ctime" property="ctime" />
        <result column="avatar" property="avatar" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
