<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4sc.bjt.system.dao.mapper.BjtSystemNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.j4sc.bjt.system.dao.entity.BjtSystemNotice">
        <id column="s_notice_id" property="sNoticeId" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="content" property="content" />
        <result column="ctime" property="ctime" />
        <result column="utime" property="utime" />
        <result column="source" property="source" />
        <result column="type" property="type" />
    </resultMap>

</mapper>
