<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4sc.bjt.park.dao.mapper.BjtParkBuildGateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.j4sc.bjt.park.dao.entity.BjtParkBuildGate">
        <id column="gate_id" property="gateId" />
        <result column="device_identifier" property="deviceIdentifier" />
        <result column="build_id" property="buildId" />
        <result column="describe" property="describe" />
        <result column="remark" property="remark" />
        <result column="ctime" property="ctime" />
        <result column="buildName" property="build_name" />
    </resultMap>

</mapper>
