<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4sc.bjt.park.dao.mapper.BjtParkBuildGuardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.j4sc.bjt.park.dao.entity.BjtParkBuildGuard">
        <id column="guard_id" property="guardId" />
        <result column="ctime" property="ctime" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="user_realname" property="userRealname" />
        <result column="apply_user_id" property="applyUserId" />
        <result column="apply_username" property="applyUsername" />
        <result column="apply_realname" property="applyRealname" />
        <result column="company_name" property="companyName" />
        <result column="company_id" property="companyId" />
        <result column="door_plate" property="doorPlate" />
        <result column="id_number" property="idNumber" />
        <result column="guard_main_id" property="guardMainId" />
        <result column="remake" property="remake" />
        <result column="type" property="type" />
        <result column="build_id" property="buildId" />
        <result column="build_name" property="buildName" />
        <result column="end_time" property="endTime" />
    </resultMap>

</mapper>
