<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4sc.bjt.carpark.dao.mapper.BjtCarparkCarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.j4sc.bjt.carpark.dao.entity.BjtCarparkCar">
        <id column="car_id" property="carId" />
        <result column="name" property="name" />
        <result column="id_number" property="idNumber" />
        <result column="licence_number" property="licenceNumber" />
        <result column="drive_number" property="driveNumber" />
        <result column="resource" property="resource" />
        <result column="plate_number" property="plateNumber" />
        <result column="brand" property="brand" />
        <result column="model" property="model" />
        <result column="color" property="color" />
        <result column="ctime" property="ctime" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
